/org.eclipse.core.resources.prefs
/org.eclipse.egit.core.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.mylyn.context.core.prefs
/org.eclipse.mylyn.monitor.ui.prefs
/org.eclipse.team.ui.prefs
/org.eclipse.ui.ide.prefs
/org.eclipse.ui.prefs
